Feature Selection - Dropping constant features

In [1]:
import pandas as pd

In [3]:
data = pd.DataFrame({"A":[1,2,4,1,2,4], 
                    "B":[4,5,6,7,8,9], 
                    "C":[0,0,0,0,0,0],
                    "D":[1,1,1,1,1,1]})

In [4]:
data.head()

   A  B  C  D
0  1  4  0  1
1  2  5  0  1
2  4  6  0  1
3  1  7  0  1
4  2  8  0  1

In [5]:
from sklearn.feature_selection import VarianceThreshold

In [7]:
var_thres = VarianceThreshold(threshold=0)

In [8]:
var_thres.fit(data)

VarianceThreshold(threshold=0)

In [9]:
var_thres.get_support()

array([ True,  True, False, False])

In [10]:
data.columns[var_thres.get_support()]

Index(['A', 'B'], dtype='object')

In [11]:
constant_columns = [column for column in data.columns
                   if column not in data.columns[var_thres.get_support()]]

In [12]:
constant_columns

['C', 'D']

In [14]:
data.drop(constant_columns,axis = 1)

   A  B
0  1  4
1  2  5
2  4  6
3  1  7
4  2  8
5  4  9